.card{
    width: 30%;
}
.tab{
    width: 80%;
    align-items: center;
}
table{
    padding: 10px;
    width:100%;
}
table.mat-table{
    font-size: 16px;
    /* font-family:'Montserrat'; */
    
}
.mat-form-field-wrapper {
    padding-bottom: 0em;
}
.mat-header-cell {
    font-size: 16px;
    font-weight: bold;
    color: black;
    font-family:'Montserrat';
}
::ng-deep .mat-form-field-wrapper{
    display: flex !important;
    padding: 0 !important;
}
.btnbs{
    display: flex;
    width:10%;
    padding: 0;
}

.btnbs button{
    margin-right: 0.5rem;
}

    /* justify-content: space-evenly; */
    /* padding: 0.5rem; */
/* .panel{
    display: flex;
    /* justify-content: space-between; */
    /* padding: 1px;
}
    
.deleteafter{
    background-color: #eee;
    width: 25%;
    padding: 3rem 3rem;

} */ 
td.mat-cell:last-of-type{
    padding: 0;
}
.row{
    padding: 0.5rem 1rem;
    margin-top: 1.5rem;
    display:flex;
    justify-content: space-evenly;
}
h1{
    margin:0;
    font-family: 'Montserrat';
    font-weight: 600;
}
p{
    font-family: 'Montserrat';
    font-weight: 400;
}
span{
    font-size: small;
}