.table-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 1rem; 
    column-gap: 7%;
    font-family: 'Montserrat';
}

.table-options app-dropdown{
    flex-grow: 5;
    display: flex;
    align-items: center;
}

.table-options app-search-bar{
    flex-grow: 6;
}

.table-options app-download{
    flex-grow: 1;
 
}