@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Cinzel:wght@500&family=Montserrat:ital,wght@0,200;0,300;0,500;0,700;0,800;0,900;1,600;1,700;1,800;1,900&display=swap');
.remove{
    height: 420px;
}

:host {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}