a{
    box-sizing: content-box;
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight:700;
    color: white;
}
a:active{
    color: #FFF1D0;
}
a:hover{
    color:#FFF1D0;
}