a{
    box-sizing: content-box;
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight:700;
    color: #000000;
}
a:hover{
    color:#682a52;
}
a:focus{
    color: #7C3E66;
}
a:active{
    color: #7C3E66;
}

