nav {
    background-color: #A5BECC;
    padding: 0.5rem 1rem;
   
}

li {
    display: inline-block;
    margin-top: 5px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -1rem;
}


nav ul div {
    margin-left: auto;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.mat-icon {
    cursor: pointer;
}

.icon {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
}