<app-table-header
  (searchEvent)="search($event)"
  (downloadEvent)="downloadTradeHistory()"
  (assetTypeEvent)="changeAssetType($event.toString())"
  (accountEvent)="changeAccountType($event.toString())"
  text="Holdings ({{ holdingCount }})"
></app-table-header>
<table
  mat-table
  matTableExporter
  [dataSource]="dataSource"
  #exporter="matTableExporter"
  matSort
  #empTbSort="matSort"
  class="mat-elevation-z8"
>
  <!-- Fund Column --><ng-container matColumnDef="fund">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Fund</th>

    <td mat-cell *matCellDef
    ="let element">{{ element.fund }}</td>
  </ng-container>
  <ng-container matColumnDef="quantity">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Quantity</th>

    <td
      mat-cell
      *matCellDef="let element"
      [style.color]="isPositive(element.quantity) ? 'green' : 'red'"
    >
      {{ element.quantity }}
    </td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>

    <td mat-cell *matCellDef="let element">{{ element.price }}</td>
  </ng-container>

  <ng-container matColumnDef="account">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Account</th>

    <td mat-cell *matCellDef="let element">{{ element.account }}</td>
  </ng-container>

  <ng-container matColumnDef="loss_profit">
    <th mat-header-cell *matHeaderCellDef>Loss/Profit</th>

    <td
      mat-cell
      *matCellDef="let element"
      [style.color]="isPositive(element.quantity) ? 'green' : 'red'"
    >
      {{ element.quantity * element.price | number: "1.3-4" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>

    <td mat-cell *matCellDef="let element">{{ element.date }}</td>
  </ng-container>

  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef>Type</th>

    <td
      mat-cell
      *matCellDef="let element"
      [style.color]="isPositive(element.quantity) ? 'green' : 'red'"
    >
      <p *ngIf="isPositive(element.quantity)">BUY</p>
      <p *ngIf="!isPositive(element.quantity)">SELL</p>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<div class="no-data-found" *ngIf="holdingCount == 0">
  No data found
</div>