.header{
    /* height:50px; */
    background-color: #086788;
    color: #FFF;
    box-sizing: border-box;
    margin-left: 0;
  margin-right: 0;
  overflow: hidden;
}
.header>p{
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 32px;
    line-height: 1.5em;
    margin: 0;
    padding: 0.5rem 1rem;
}
sup{
    font-size:small;

}