<div class="row">
    <div>
        <!-- <h1>{{totalInvestment | number:'1.2-2' }}</h1> -->
        <h1>{{totalInvestmentSplit[0] | number}}<span>{{'.'+totalInvestmentSplit[1] + '0'}}</span></h1>
        <p>Total Investment</p>
    </div>
    <div>
        <!-- <h1>{{currentVal | number:'1.2-2'}}</h1> -->
        <h1>{{currentValSplit[0] | number}}<span *ngIf="currentValSplit[1]">{{'.'+currentValSplit[1] + '0'}}</span><span *ngIf="!currentValSplit[1]">{{'.00'}}</span></h1>
        <p>Current Value</p>
    </div>
    <div>
        <!-- <h1 [style.color]="isPositive(netpl)?'green':'red'">{{netpl | number:'1.2-2'}}</h1> -->
        <h1 [style.color]="netPl > 0?'green':'red'">{{netPlSplit[0] | number}}<span>{{'.'+netPlSplit[1] + '0'}}</span></h1>
        <p>P&L</p>
    </div>
</div>