
<div class="card">
    
    <div class="container">
        <div class="page-head">
            <h2 class="page-heading">Profile</h2>
            <div class="expanded"></div>
            <a routerLink="/profile-edit">
                <button mat-icon-button>
                    <mat-icon>edit</mat-icon>
                </button>
            </a>
        </div>
        <div class="page-content">
            <app-profile-detail [detailName]="'Name'" [detailValue]="userDetail.firstName + ' ' + userDetail.lastName"></app-profile-detail>
            <app-profile-detail [detailName]="'Email'" [detailValue]="userDetail.email"></app-profile-detail>
            <app-profile-detail [detailName]="'Date of Birth'" detailValue="{{userDetail.dateOfBirth | date:'shortDate'}}"></app-profile-detail>
            <app-profile-detail [detailName]="'Phone number'" [detailValue]="userDetail.phoneNumber"></app-profile-detail>
            <app-profile-detail [detailName]="'Investment risk (Range 0-5)'" [detailValue]="userDetail.investmentRisk.toString()"></app-profile-detail>
        </div>
    </div>
  </div>
