label {
    font-weight: bold;
    font-size: 15px;
    margin-right: 5px;
}

.trade-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 1rem;
    column-gap: 7%;
    font-family: 'Montserrat';
}

.dropdown {
    flex-grow: 3;
    display: flex;
    align-items: center;
    font-size: 12px;
}

.search {
    flex-grow: 3;
    display: flex;
    align-items: center;
    font-size: 12px;
}

button {
    background-color: #2573BB;
    color: white;
    padding: 0.2rem 0;
    width: 13%;
    font-family: 'Montserrat' !important;
    margin-left: 5px;
}