:host {
    flex-grow: 1;
}

.mat-form-field {
    width: 100%;
}

input {
    font-family: 'Montserrat';
}

::ng-deep .mat-form-field-infix{
    display: flex !important;
    padding: 0;
}

::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0em;
}