mat-icon{
    transform: scale(0.8);
}
mat-icon:hover{ 
    color:#999;
}

.search-bar{
    display: flex;
    flex-direction: row;
    flex-grow: 3;
}

.search-bar mat-form-field{
    flex-grow: 1;
}
