<mat-card class="assets-card">
  <mat-card-title>{{ "AAPL" }}</mat-card-title>
  <!-- <mat-card-subtitle>Apple Inc</mat-card-subtitle> -->
  <mat-chip-list aria-label="Dog selection">
    <mat-chip>
      Apple Inc (NASDAQ) &nbsp;
      <mat-icon
        aria-hidden="false"
        aria-label="stock up"
        fontIcon="trending_up"
      ></mat-icon>
    </mat-chip>
  </mat-chip-list>

  <hr />
  

  <mat-card-content>
    <p><b>Price:  <span class="greenvalue">${{ "158.5" }}</span></b></p>
    <p><b>Change:  <span class="redvalue">{{ "-0.2%" }}</span></b></p>
    <p><b>Sector: </b> {{ "Technology" }}</p>
  </mat-card-content>
  <mat-card-actions>
    <app-buy-sell-panel></app-buy-sell-panel>
  </mat-card-actions>
  <!-- <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions> -->
</mat-card>
