.example-spacer {
  flex: 1 1 auto;
}

.dollar {
  font-weight: lighter;
}

.mat-toolbar.mat-primary {
  /* background: #007bff; */
  background-color: #1abc9c;
  color: #fff;
  padding: 0.5rem 1rem;
  align-items: center;
  font-family: "Montserrat" !important;
}

button {
  height: 24px;
  width: 24px;
}

.mat-icon {
  display: flex;
  align-items: center;
}
