<div class="popup">
  <mat-toolbar>
    <button mat-icon-button class="first-icon">
      <mat-icon>payment</mat-icon>
    </button>
    <span class="title"> Add Margin </span>

  </mat-toolbar>

  <div class="form-inputs">
    <form #orderForm="ngForm">
      <mat-form-field appearance="outline">
        <mat-label>Margin</mat-label>
        <input
          matInput
          placeholder="0"
          type="number"
          min="0"
          value="0"
          name="MARGIN"
          required
          [(ngModel)]="model.margin"
        />
        <mat-icon matSuffix>credit_card</mat-icon>
      </mat-form-field>
      <br />
      <br />

      <app-dropdown [dropdownValues]="data" (dropdownChangeEvent)="changeAccountType($event)"></app-dropdown>

    </form>
    <p></p>

    <app-button-trade
      [buysell]="'ADD'"
      (btnClick)="addMargin()"
    ></app-button-trade>
  </div>
</div>
