
  .popup {
    max-width: 100%;
    padding: 0.5rem;
    font-family: Montserrat;
  }
  
  mat-toolbar {
    font-family: Montserrat;
    color: #fff;
    margin-bottom: 2rem;
    background: #89CFF0;
    font-weight: 700;
  }

  mat-icon.mat-icon {
    color: #002d62
  }
  
  .title {
    margin:auto;
    color: #002d62;
  }
  
  
  .form-inputs .mat-form-field + .mat-form-field {
    margin-left: 3rem;
    
  }
  mat-form-field{
    width: 98% !important;
  }
  
  
  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }
  