.row{
  display: flex;
  justify-content: space-between;
  padding: 25px;
}
.row1{
  display: flex;
  justify-content: space-between;
  
}
.content{
  margin-top:30px;
}
.image{
  background-color: #283593;
  text-align: center;
  margin-top: 3px;
}
.graph1{
  margin-top: 10px;
}

.example-card{
  margin-top: 10px;
  padding: 10px;
  max-width: 200px !important;
  font-family: "Montserrat";
}
table {
  padding: 10px;
  width: 100%;
}

table.mat-table {
  font-size: 16px;
  font-family: "Montserrat";
}

.mat-header-cell {
  font-size: 16px;
  font-weight: bold;
  color: black;
  font-family: "Montserrat";
}

.btnbs {
  display: flex;
  width: 10%;
  padding: 0;
}

.btnbs button {
  margin-right: 0.5rem;
}

td.mat-cell:last-of-type {
  padding: 0;
}

.no-data-found {
  padding: 1rem;
  text-align: center;
  color: red;
  font-size: 1rem;
}
