.download{
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  column-gap: 0;

}

label {
  flex-grow: 1;
  font: Montserrat;
  font-size: 17px;
  font-weight: bold;
  text-align: right;
  
}
.download:hover {
  color: rgb(23, 63, 194);
}

.material-symbols-outlined {
 
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
