.dropdown{
    font-family: 'Montserrat';
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.dropdown mat-form-field{
    flex-grow: 1;
}

::ng-deep .mat-select {
    font-family: 'Montserrat';
}

::ng-deep .mat-option {
    font-family: 'Montserrat';
}