

<div class="landing">
    <img class="landingimg" src="/assets/images/landing.png" alt="" >   
    <h1>Hit the Jackpot</h1> 
    <h5>The best platform to invest in stocks, derivatives and much more!</h5>
    <button class="registerBtn"><a class="registerA" routerLink = "/register">Register now</a></button>
</div>
<div class="row">
    <div class="col1">
        <img class="image" src="../../../../assets/images/div22.PNG" alt="" >
    </div>
    <div class="col2">
        <h2>Largest stock brokers in India</h2>
        <p>1K clients of Jackpot contribute to over 15 percentile of all retail orders by trading and investing in our platform.
            Our ultra-fast flagship trading platform with streaming market data, advanced charts, an elegant UI, and more. Enjoy the UI experience seamlessly on your Android and iOS devices.
        </p>
        <a class="know">Know more about us -></a>
    </div>
</div>
<div class="landing div3">
    <img class="landingimg" [src]=imageSrc alt="" > 
    <!-- <h3>{{imageSrc}}</h3>   -->
    <h1>Experience the best!!</h1> 
    <h5>We pioneered the discount broking model in India.
        Now, we are breaking ground with our technology.</h5>
    <button class="registerBtn">Trading options</button>
</div>


