<div class="row">
  <div class="col">
    <h1>{{ text }}</h1>
    <app-dropdown
      [dropdownLabel]="'Asset Class'"
      [dropdownValues]="assetTypes"
      (dropdownChangeEvent)="changeAssetClass($event)"
    ></app-dropdown>
    <app-dropdown
      [dropdownLabel]="'Account type'"
      [dropdownValues]="accountTypes"
      (dropdownChangeEvent)="changeAccountType($event)"
    ></app-dropdown>
  </div>
  <div class="col">
    <div>
      <app-search-bar (searchAssetEvent)="searchAsset($event)"></app-search-bar>
    </div>
    <app-icon-button buttonText="Download" iconName="cloud_download" (buttonActionEvent)="downloadData()"></app-icon-button>
  </div>
</div>
