.row {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.col {
  display: flex;
  align-items: center;
  justify-items: center;
}

h1 {
  margin-right: 1rem;
  font-family: "Montserrat";
  font-weight: 600;
}
